body {
	background-color: #21272b;
}

h3{
    color: #00a186;
    text-align: center
}

/*navbar*/

.navbar-header {
	height: 10vh;
	background-color: #00a186;
}

.logo {
	margin-top: 1vh;
	height: 8vh;
	margin-left: 5vh;
}

.button, .input, .optgroup, .select, .textarea {
	color: red;

}

.navbar-default > .navbar-header > .navbar-toggle {
	border-color: #14191c;
}

.navbar-default .navbar-nav > li > a {
	background-color: #00a186;
	color: #14191c;
	margin-left: 5vh;
}

.navbar-default > .navbar-toggle > .icon-bar {
	background-color: #14191c;
}



.page-header {
	color: #00a186;
}

.gsc-control-cse {
	font-family: Arial, sans-serif;
	border-color: #14191c;
	background-color: #14191c;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

#myCarousel {
	background: #2f4357;
	margin-top: 20px;
}

.carousel-inner {
	height: 30vh;
}

.carousel-inner img {
	width: 100%;
}

.bs-example {
	margin: 20px;
}

.foro {
	margin: 1px solid black;
}

.modal {
	margin-top: 25vh;
	margin-right: 1vh;
}

#comentario,
#write{
    margin-top: 5%;
    margin-left: 2%;
    border:1px solid #00a186;
    overflow: hidden;
    list-style: none;
    text-decoration: none;
    }

#benviar,
#sendComments{
    margin-left: 2%;
    margin-bottom: 2%;
    color: #2f4357;
    background-color: #00a186;
    display: inline-block;
    border: 2px solid;
    font-size: 15px;
    
}
#comments{
list-style: none;
text-decoration: none;
background-color: #2f4357;
color: #00a186;
margin-top: 5%;
margin-left: 2%;
}

a{
	text-align: center;
	text-decoration: none;
	color: white;
}


.fa-star, .fa-star-half {
	color: #F7CF0B;
}

.dragon, .final, .jurassic, .gts, .megaman {
	width: 40vh;
	float: right;
	position: relative;
	margin-top: 5vh;
	margin-right: 7vh;
}

.btn-default {
	margin-left: 34vh;
	font-family: 'Barlow', sans-serif;
	background-color: #00a186;
	color: white;
	display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer{	
	color: #2f4357;
	color: white;
	font-size: 12px;
}



.redes{
	color: white;
	text-decoration: none;
	margin-top: 5%;
}

.title {
	margin-top: 26%;
}

.nuestras{
color: #2f4357;
}