/* Estilos vista sign up y log in*/
body{
  background-color: #21272B;
  color: #fff;
  max-width: 750 px;
  text-align: center;
}

form{
  margin-top: 3%;
  margin-right: 5%;
}

input{
  margin: 5%;
}

#login{
  margin-left: 20%;
}

#sign{
  margin-bottom: 5%;
  margin-left: 40%;
}

#logo{
  margin-top: 8%;
  margin-left: 55%;
  height: 10vh;
  width: 100%;
}

#next{
  background-color: #f12545;
  border:  #f12545;
  color: #fff;
}

#twitch{
  height: 3vh;
  width: 40%;
}

.container-2{
  display: none;
}

.logo-splash {
  height: 15vh;
  margin-top: 75%;
}

.title{
  font-family: 'VT323', monospace;
  font-size: 3em;
}

.container-fluid{
  margin-top: 10%;
}

.signup-container{
  background-color: #14191C;
  border-radius: 10%;
  font-family: 'Barlow', sans-serif;
  height: 60vh;
  margin-left: 8%;
  text-align: center;
  width: 85%;
}
