body {
  background-color: #21272B;
  color: #fff;
  font-family: 'Barlow', sans-serif;
}

.logo-splash {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*navbar*/
.navbar-header {
  height: 10vh;
  background-color: #00A186;
  font-family: 'VT323', monospace;
}

.logo {
  margin-top: 1vh;
  height: 8vh;
}

.navbar-default .navbar-toggle {
  border-color: #14191C;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #14191C;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: -28px;
  margin-left: -28px;
}

.avatar {
  height: 20vh;
  margin-left: 20vh;
}

.nombre-usuario {
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 1.9em;
  margin-left: 3vh;
  color: #00A186;
}

/*reseña */
.thumbnail {
  margin-top: 3vh;
  margin-left: 4vh;
  width: 50vh;
  height: 10vh;
  background-color: #14191C;
  border-color: #14191C;
  color: #fff;
}

.fa-pencil {
  margin-top: 1vh;
  margin-left: 2vh;
  color: #3A464C;
}

.btn-primary {
  background-color: #00A186;
  border-color: #00A186;
}

#add{
  margin-left: 10%;
  margin-bottom: 10%;
}

h3 {
  color: #3A464C;
}

.amigos, .reseña {
  font-family: 'VT323', monospace;
  font-size: 1.8em;
  margin-left: 3vh;
  color: #00A186;
}

.form-control {
  width: 50vh;
  background-color: #14191C;
  border-color: #14191C;
  color: white;
}

.btn-default {
  background-color: #14191C;
  border-color: #14191C;
  color: white;
}

//estilos elementos DOM

p.text{
  font-size: 5em;
  color: #fff;
}

.btnShare{
  background-color: #00A186;
  border-color: #00A186;
  border-radius: 5%;
  color:#fff;
  font-family: 'VT323', monospace;
}
