<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="assets/images/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Barlow|VT323" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Questrial|Quicksand:400,700|Roboto:400,700,900" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/perfil.css">
        <link rel="icon" type="image/png" href="../assets/images/maquinita.png">
    <title>Perfil</title>
</head>
<body>

<!--Navbar con menú-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header"><img class="logo" src="../assets/images/logo-azul.png" alt="">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Settings</a>
                    </li>
                    <li>
                      <a id="btn-logout" class="btn btn-danger twitch-disconnect"href="../index.html">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Avatar -->
    <div id="login-info">
      <img id="picture" class="avatar" src="../assets/images/avatar-1.png" alt="userPhoto">
      <p class="nombre-usuario">Usuario</p>
    </div>

      <!-- Reseña -->
      <p class="reseña">Reseña de mis favoritos</p>

      <div class="row">
        <div class="col-sm-6 col-md-4">
          <textarea id="reseña" class="thumbnail" name="name" rows="5" cols="80" placeholder="Escribe tu reseña"></textarea>
          <button href="#" class="btn btn-primary add" disabled="disabled">Add</button>
        </div>
      </div>
<!-- Elementos creados por DOM -->
      <div class="new-container"></div>

<!-- Amigos -->
<p class="amigos">Amigos</p>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button id="go" class="btn btn-default" type="button">Go!</button>
      </span>
      <input id="search-friends" type="text" class="form-control" placeholder="Busca por nombre o consola ">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="members-container"></div>
</div><!-- /.row -->

<!-- Enlaces -->
<script src="../js/jquery-3.3.1.min.js" charset="utf-8"></script>
<script src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/sign-up.js"></script>
<script type="text/javascript" src="../js/data.js"></script>
<script type="text/javascript" src="../js/perfil.js"></script>

</body>
</html>
